body    {
    background-color: rgb(236, 234, 223);
}

div.poster{
    background-color: rgb(255, 81, 0);
    width: 75%;
}

div.container {
    display:flex;
    flex-wrap: wrap;
}

div.col {
    border: 1px solid skyblue;
    width: 20%;

}

div.logo {
    font-size: 50px;
}

/* four column grid */

div.w1-4 {
    width: 25%;
}

div.w2-4 {
    width: 50%;
}

div.w3-4 {
    width: 75%;
}

div.w4-4 {
    width: 100%;
}

/* end of grids */






/* rule 1 */

div.text.one {
    font-size: 160px;
}

div.text.two {
    font-size: 40px;
}

div.text.three {
    font-size: 20px;
}

/* rule 2 */

div.text.a {
    color: black;
}

div.text.b {
    color: rgb(0, 217, 255);
}

div.text.c {
    color: rgb(0, 255, 21);
}

/* rule 3 */

div.text.x {
    background-color: burlywood;
}

div.text.y {
    background-color:antiquewhite;
}

div.text.z {
    background-color: blueviolet;
}




div.small {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: ultra-expanded;
    font-weight: bold;
    color:blue;

