body    {
    background-color: rgb(0, 0, 0);
}

div.poster{
    background-color: rgb(0, 0, 0);
    width: 100%;
    background-image:url('Abstract 4.png');
    background-size: cover;
    /* background-size: cover; */
    /* background-repeat: repeat; */
    background-position: center ;
}

div.text {
    font-size: 40px;
    text-align: left;
    color:greenyellow;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: solid; 
    transition:0.5s;
}


.header {
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    color: greenyellow;

}

.header.container {
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    background-color: greenyellow;
}


.container {
    display: flex;
    flex-wrap: wrap;
}

.col{
}

.w1-2 {
    width: 50%;
}

.w1-4 {
    width: 25%;
}




/* rule 1 */

div.text.one {
    font-size: 100px;
}

div.text.two {
    font-size: 120px;
}

div.text.three {
   font-size: 180px;
}

/* rule 2 */

div.text.a {
    font-weight:400;
} 

div.text.b {
    font-weight: 200;
}

div.text.c {
font-weight: 900;
transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* rule 3 */

div.text.x {

}

div.text.y {
   
}

div.text.z {
    
}




div.small {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: ultra-expanded;
    font-weight: bold;
    color:rgb(255, 255, 255);

